html {
  scroll-behavior: smooth;
}

.heading {
  position: relative; 
  text-align: center;
  color: white;  
  height: 90vh;
  width: 100vw;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("./images/shrimp-close-noborder.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.heading div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 900;
  text-shadow: 0.07em 0.07em rgba(0, 0, 0, 0.509)
}

.heading div a {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  text-shadow: none;
  color: white;
  border: 1px solid rgb(215,29,29);
  padding: 10px 24px;
  background-color: rgb(215,29,29);
  border-radius: 12px;
}




